

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 7%;
    background-color: #121010;
    z-index: 1000;
} 
.logo-img{
    width: 55px;
    cursor: pointer;
    background: linear-gradient( to right, red , blue);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 21px;

}
.logo-img img{
    width: 100%;
    border-radius: 50%;
}
ul{
    display: flex;
    transition: all .5s;
}
ul li{
   list-style-type: none; 
   margin: 0 15px;
}ul li a
{
    text-decoration: none;
    color:#ded7d7;
    transition: 0.5s;
}

ul li a:hover{
    color:transparent;
    text-decoration: none;
    background: linear-gradient(to right, red , blue);
    -webkit-background-clip:text ;
    position: relative;
    transition: 0.5s;
}
#click{
    display: none;
}
.menu-btn{
    display: none;
    color: #ded7d7;
    font-size: 22px;
    cursor: pointer;
}

/* responsive nav */
@media screen and (max-width: 940px) {
    .menu-btn{
        display: block;
    }
    ul{
        position: fixed;
        top: 50px;
        right:-100%;
        height: 100%;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-color: #121010;
        padding-top: 100px; 
        transition: all 0.5s ease;
    }
    ul li {
        margin-top: 40px;
    }
    ul li a{
        font-size: 22px;
    }
    #click:checked ~ .menu-btn i::before{
        content:"\f00d";
    }
    #click:checked ~ ul{
        left: 0%;
        transition: all 5s;
    }

}
/* navbar complite */

/* header area code strat here */
.main{
    margin-top: -35px;
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}
.main-conteiner{
    width: 1100px;
   color: #ded7d7;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main h4{
    margin-bottom: 25px;
}
.main h4 span{
    background-color: #292626;
    padding: 3px 5px;
   border-radius: 4px;
}
.main-conteiner h2{
    margin-bottom: 30px;
}
.main-conteiner h1 {
    margin: 10px 0;
}
.main-conteiner h1 span{
    color:transparent;
    text-decoration: underline;
    background: linear-gradient(to right, red ,blue);
    -webkit-background-clip:text ;
    position: relative;
}
.main-conteiner h1 span::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 150px;
    background: linear-gradient(to right, red ,blue);
}
.main-content p{
    color: gray;
}
.home-btn{
    display: flex;
    gap: 35px;
    margin-top: 20px;
    font-size: 22px;
}

 .home-btn button {
    width: 200px;
    height: 60px;
    padding: 10px 15px;
     background: linear-gradient(to right, red , blue);
     color: #ded7d7;
     border: none;
     border-radius: 5px;
     font-size: 20px;
     cursor: pointer;
 }

 .home-btn .btn {
    width: 200px;
    height: 60px;
    padding: 10px 15px;
     background: linear-gradient(to right, red , blue);
     color: #ded7d7;
     border: none;
     border-radius: 5px;
     font-size: 20px;
     cursor: pointer;
     position: relative;
     z-index: 9;
 }
 .home-btn .btn::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   background: black;
   inset: 3px;
   z-index: -1;
 }
.btn-txt{
    color:transparent;
    text-decoration: underline;
    background: linear-gradient(to right, red ,blue);
    -webkit-background-clip:text ;
    position: relative;
}
.main-img{
    width: 40%;
    height: 30Vw;
    background-image: linear-gradient(to right, red , blue);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    
}
.main-img img{
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-left: 10PX;
} 
.main-icon{
    color: #ded7d7;
     font-size: 20px;
    margin-left: -690px;
    /* margin-bottom: 200px; */
   }
   .main-icon span{
    background: linear-gradient(to right, red, blue) ;
    padding: 10px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 0 8px;
   }

   /*  =============header end============ */
   .about-me{
    background: #121010;
    color: #fff;
    display: grid;
    place-items: center;
    position: relative;
   } 
   .about-me h3 , h2{
     text-align: center;
     margin-top: 20px;
   }
   .about-me h3{
    font-size: 25px;
    font-weight: 700;
    color: #fd054b;
   }
   .about-me h2{
    color: transparent;
    background: linear-gradient( to right, red, blue);
    -webkit-background-clip: text;
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 1.5px;
   }
  .about-conteiner{
    position: relative;
    top: 0;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:1100px ;
   margin-left: 200px;
   margin-right: 200px;
   margin-bottom:50px ;

  }
 .about-conteiner .about-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    height: 450px;
    background: linear-gradient( to bottom,  rgb(255, 25, 17)30%,rgba(17, 0, 255,0.1)60% );
    z-index: 100;
    border-radius: 200px 200px 5px 5px;
    overflow: hidden;
  }
   .about-img img{
    position: relative;
    padding: 25px 50px;
    transform: translateY(60px);
  }
  .about-content{
    max-width: 450px;
  }
  .adress{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .adress span{
    margin: 15px 0;
  }
  .adress a
  {
    display: inline-block;
    text-decoration: none;
    color: #fd054b;
    margin: 15px 0;

  }
  .adress a i{
    display: inline-block;
    color:transparent;
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    font-size: 25px;

  }
 .interrest-item{
     display: flex;
     justify-content: space-around;
     font-size: 18px;
     font-weight: 500;
     color: #fd054b;
     margin-top: 20px;
 }
 .interrest-item span{
  color: #ded7d7;
 }
 /* ==================about area code end here================================ */
  .my-skill{
    /* width: 100%; */
    /* display: flex; */
    background: black;
    
  }
  .my-skill h2, h3{
    font-size: 35px;
    text-align: center;
    color: #f1f1f1;
    margin: 0px auto;
  }
  .my-skill  h2{
    color: transparent;
    background: linear-gradient(to right, #ff0000, #0026ff);
    -webkit-background-clip: text;
  }

  .skill-conteiner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1100px;
    padding: 50px 180px;
    margin: 0 auto;
  }
  .skills{
    width:100%;
    max-width: 800px;
    padding: 0 20px;
    margin: 40px 0;
  }
  .skill-name{
    font-size: 18px;
    font-weight: 700;
    color: #f1f1f1;
    margin:20px 0;
  }
  .skill-ber{
    width: 600px;
    height:14px;
    background: #282828;
    border-radius: 3px;
  }
  .skill-per{
    height: 14px;
    background: linear-gradient(to right, red, blue);
    border-radius: 3px;
    position: relative;
    animation:  fillbars  5s 1;
    
  }
  .skill-per::before{
    content: attr(per);
    position:absolute;
    padding: 4px  6px ;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top:-35px;
    right:0;
    transform: translateX(50%);
  }
  .skill-per::after{
    content: '';
    position:absolute;
    width:10px;
    height:10px;
    background: #f1f1f1;
    top:-20px;
    right:0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
    z-index: 1;
  }
  .skill-per-b{
    height: 14px;
    background: linear-gradient(to right, red, blue);
    border-radius: 3px;
    position: relative;
    animation:  fillbars  5s 1;
    
  }
  .skill-per-b::before{
    content: attr(per);
    position:absolute;
    padding: 4px  6px ;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    bottom:-35px;
    right:0;
    transform: translateX(50%);
  }
  .skill-per-b::after{
    content: '';
    position:absolute;
    width:10px;
    height:10px;
    background: #f1f1f1;
    bottom:-20px;
    right:0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
     z-index: 1; 
  }
  
  
  @keyframes fillbars{
    from{
      width: 0;
    }
    
    to {
    width:100%;
    }
  }

  /* =====================================skill code end here===================================== */

  .protfolio{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
  }
  .protfolio h2{
    color: #fff;
}
  .protfolio h3 {
    color:transparent;
    background:linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    background-position: center center;
    display: inline-block;
   margin: 0 auto;
   text-align: center;
   
}
  .profolio-conteiner{
    margin: 0 auto;
    display: grid;
    width: 1100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  .profolio-conteiner img{
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, red, blue)
    border-box;
    border:transparent 4px solid;
    transition: all .5s;
  }
  .profolio-conteiner img:hover{
    transform: scaleX(1.1);
  }
@media screen and (max-width: 540px) {
    
    .main-conteiner{
       
      margin-right: 50px;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      text-align: center;
      justify-content: space-between;
    }
    .main-content{
       text-align: center;
       margin-top: 35px;
       order: 2;
       height: 100vh;
    }
    .main-conteiner h1 {
        margin: 0 0;
    }
    .main h4{
        margin-bottom: 10px;
    }
    .main-conteiner h2{
        margin-bottom: 8px;
    }
    .main-img{
        order: 1;
        margin-top: 10px;
    }

    .home-btn{
        flex-direction: column;
        gap: 30;
        align-items: center;
        justify-content: center;
    }
    .main-img{
        overflow: visible;
        width: 50%;
        height: 70VW;
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }
    .main-img img{
        margin-top: 150px;
        transform: translateY(33px);
    }
    .main-icon{
        display: none;
    }
     /* ======= header code end======= */

     /* ==========- about area code start here=-======== */
     .about-me{
        background: #121010;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 20px;
       
       } 
     .about-conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
       margin-left: 50px;
       margin-right: 50px;
       width: 98%;
      }
      .about-p p{
        text-align: center;
      }
      .about-conteiner .about-img{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 350px;
        height: 350px;
        background: linear-gradient( to bottom,  rgb(255, 25, 17)30%,rgba(17, 0, 255,0.1)60% );
        z-index: 100;
        border-radius: 200px 200px 5px 5px;
        overflow: hidden;
      }
      .about-img img{
        position: relative;
        padding: 10px;
        padding-left: -200px;
        transform: scale(.8);
        transform: translateY(60px);
      }
      .about-content{
        margin-top: 50px;
      }
      /* ======================================about code end here======================================== */
      .skill-conteiner{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        max-width: 98%;
        padding: 20pxpx 80px;
        margin: 0 auto;
      }
      .skills{
        overflow-x: none;
        width:10%;
        /* max-width: 800px; */
        padding: 0 20px;
        margin: 40px 0;
      }
      .skill-ber{
        width: 300px;
        height:14px;
        background: #282828;
        border-radius: 3px;
      }

      /* ==========================skill area code end here=========================== */
      .profolio-conteiner{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
      }
      .profolio-conteiner img{
        width: 100%;
    }
    .profolio-conteiner img:hover
    {
      transform: scaleX(1.1);
    }

}